# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

## Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project.

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format.

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format.

## Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!

# Step 1: Load the Data/Filtering for Chosen Zipcodes

In [40]:
## Data Handling
import pandas as pd
import numpy as np

## Visualizations
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

## Settings
%matplotlib inline
plt.style.use('seaborn-talk')
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: f'{x:,.2f}')
pd.set_option('max_rows', 100)

In [29]:
source = '../data/zillow_data.csv'
data = pd.read_csv(source)
data.head(5)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,1997-01,1997-02,1997-03,1997-04,1997-05,1997-06,1997-07,1997-08,1997-09,1997-10,1997-11,1997-12,1998-01,1998-02,1998-03,1998-04,1998-05,1998-06,1998-07,1998-08,1998-09,1998-10,1998-11,1998-12,1999-01,1999-02,1999-03,1999-04,1999-05,1999-06,1999-07,1999-08,1999-09,1999-10,1999-11,1999-12,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,2000-07,2000-08,2000-09,2000-10,2000-11,2000-12,2001-01,2001-02,2001-03,2001-04,2001-05,2001-06,2001-07,2001-08,2001-09,2001-10,2001-11,2001-12,2002-01,2002-02,2002-03,2002-04,2002-05,2002-06,2002-07,2002-08,2002-09,2002-10,2002-11,2002-12,2003-01,2003-02,2003-03,2003-04,2003-05,2003-06,2003-07,2003-08,2003-09,2003-10,2003-11,2003-12,2004-01,2004-02,2004-03,2004-04,2004-05,2004-06,2004-07,2004-08,2004-09,2004-10,2004-11,2004-12,2005-01,2005-02,2005-03,2005-04,2005-05,2005-06,2005-07,2005-08,2005-09,2005-10,2005-11,2005-12,2006-01,2006-02,2006-03,2006-04,2006-05,2006-06,2006-07,2006-08,2006-09,2006-10,2006-11,2006-12,2007-01,2007-02,2007-03,2007-04,2007-05,2007-06,2007-07,2007-08,2007-09,2007-10,2007-11,2007-12,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,2008-12,2009-01,2009-02,2009-03,2009-04,2009-05,2009-06,2009-07,2009-08,2009-09,2009-10,2009-11,2009-12,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,2010-10,2010-11,2010-12,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,2011-10,2011-11,2011-12,2012-01,2012-02,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,2013-08,2013-09,2013-10,2013-11,2013-12,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,2014-10,2014-11,2014-12,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,"334,200.00","335,400.00","336,500.00","337,600.00","338,500.00","339,500.00","340,400.00","341,300.00","342,600.00","344,400.00","345,700.00","346,700.00","347,800.00","349,000.00","350,400.00","352,000.00","353,900.00","356,200.00","358,800.00","361,800.00","365,700.00","370,200.00","374,700.00","378,900.00","383,500.00","388,300.00","393,300.00","398,500.00","403,800.00","409,100.00","414,600.00","420,100.00","426,200.00","432,600.00","438,600.00","444,200.00","450,000.00","455,900.00","462,100.00","468,500.00","475,300.00","482,500.00","490,200.00","498,200.00","507,200.00","516,800.00","526,300.00","535,300.00","544,500.00","553,500.00","562,400.00","571,200.00","579,800.00","588,100.00","596,300.00","604,200.00","612,200.00","620,200.00","627,700.00","634,500.00","641,000.00","647,000.00","652,700.00","658,100.00","663,300.00","668,400.00","673,400.00","678,300.00","683,200.00","688,300.00","693,300.00","698,000.00","702,400.00","706,400.00","710,200.00","714,000.00","717,800.00","721,700.00","725,700.00","729,900.00","733,400.00","735,600.00","737,200.00","739,000.00","740,900.00","742,700.00","744,400.00","746,000.00","747,200.00","748,000.00","749,000.00","750,200.00","752,300.00","755,300.00","759,200.00","764,000.00","769,600.00","775,600.00","781,900.00","787,900.00","793,200.00","798,200.00","803,100.00","807,900.00","812,900.00","818,100.00","823,100.00","828,300.00","834,100.00","839,800.00","845,600.00","851,800.00","858,000.00","864,400.00","870,700.00","876,200.00","880,700.00","884,400.00","887,600.00","890,500.00","893,300.00","895,500.00","897,300.00","899,000.00","900,400.00","902,000.00","904,400.00","907,100.00","909,700.00","911,900.00","913,000.00","913,000.00","912,000.00","909,300.00","905,300.00","901,400.00","897,900.00","895,400.00","893,600.00","891,100.00","887,000.00","881,700.00","875,900.00","870,300.00","865,100.00","859,000.00","851,500.00","843,800.00","836,400.00","830,700.00","827,300.00","824,800.00","821,600.00","818,300.00","814,600.00","809,800.00","803,600.00","795,500.00","786,900.00","780,700.00","776,900.00","774,700.00","774,200.00","774,400.00","774,600.00","775,600.00","777,800.00","775,200.00","767,900.00","764,700.00","766,100.00","764,100.00","759,700.00","754,900.00","746,200.00","737,300.00","730,800.00","729,300.00","730,200.00","730,700.00","730,000.00","730,100.00","730,100.00","731,200.00","733,900.00","735,500.00","735,400.00","734,400.00","737,500.00","737,700.00","733,700.00","734,000.00","740,300.00","744,600.00","750,500.00","760,400.00","771,800.00","780,600.00","787,900.00","794,100.00","798,900.00","802,300.00","806,100.00","810,900.00","817,400.00","826,800.00","837,900.00","848,100.00","853,800.00","856,700.00","856,600.00","854,400.00","853,000.00","856,200.00","859,700.00","863,900.00","872,900.00","883,300.00","889,500.00",892800,893600,891300,889900,891500,893000,893000,895000,901200,909400,915000,916700,917700,919800,925800,937100,948200,951000,952500,958600,966200,970400,973900,974700,972600,974300,980800,988000,994700,998700,997000,993700,991300,989200,991300,999100,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,"235,700.00","236,900.00","236,700.00","235,400.00","233,300.00","230,600.00","227,300.00","223,400.00","219,600.00","215,800.00","211,100.00","205,700.00","200,900.00","196,800.00","193,600.00","191,400.00","190,400.00","190,800.00","192,700.00","196,000.00","201,300.00","207,400.00","212,200.00","214,600.00","215,100.00","213,400.00","210,200.00","206,100.00","202,100.00","198,800.00","196,100.00","194,100.00","193,400.00","193,400.00","193,100.00","192,700.00","193,000.00","193,700.00","194,800.00","196,100.00","197,800.00","199,700.00","201,900.00","204,500.00","207,800.00","211,500.00","214,900.00","217,800.00","221,100.00","224,100.00","226,700.00","228,200.00","228,500.00","227,200.00","224,900.00","221,900.00","219,100.00","216,900.00","215,400.00","214,500.00","214,600.00","215,600.00","217,000.00","218,400.00","219,600.00","220,000.00","219,100.00","216,800.00","213,100.00","208,700.00","204,000.00","199,600.00","195,700.00","192,800.00","190,800.00","189,600.00","189,200.00","189,200.00","189,600.00","190,300.00","190,800.00","191,000.00","190,700.00","190,300.00","189,800.00","189,200.00","188,600.00","188,000.00","187,500.00","187,200.00","187,000.00","186,900.00","187,100.00","187,700.00","188,800.00","190,300.00","191,800.00","193,000.00","193,900.00","194,500.00","195,100.00","195,700.00","196,400.00","197,400.00","198,500.00","199,600.00","200,300.00","200,800.00","201,000.00","201,000.00","201,000.00","200,900.00","200,900.00","200,900.00","201,200.00","201,600.00","202,200.00","202,700.00","203,300.00","203,900.00","204,500.00","205,100.00","205,800.00","206,500.00","207,200.00","207,800.00","208,400.00","208,900.00","209,400.00","209,700.00","210,000.00","210,400.00","211,000.00","211,600.00","212,400.00","213,000.00","213,400.00","213,600.00","213,800.00","213,900.00","214,100.00","213,900.00","213,500.00","212,600.00","211,200.00","209,500.00","207,900.00","206,700.00","205,900.00","205,300.00","204,600.00","203,800.00","203,200.00","202,400.00","201,700.00","201,200.00","200,700.00","200,000.00","199,700.00","199,700.00","199,900.00","200,100.00","200,200.00","200,200.00","200,100.00","201,300.00","202,000.00","202,100.00","202,700.00","203,700.00","203,300.00","203,100.00","202,900.00","202,400.00","202,400.00","202,500.00","202,500.00","202,400.00","202,500.00","202,100.00","201,300.00","200,700.00","200,500.00","200,000.00","199,300.00","199,100.00","199,200.00","199,400.00","199,500.00","199,600.00","200,100.00","200,700.00","201,800.00","202,700.00","203,000.00","203,000.00","203,000.00","203,100.00","203,500.00","204,600.00","205,600.00","205,900.00","206,900.00","208,500.00","209,800.00","211,300.00","214,000.00","217,200.00","220,600.00","223,800.00","226,500.00","228,600.00","230,400.00","231,800.00","233,000.00","234,200.00","235,400.00","236,600.00","238,500.00",240500,242600,244700,246300,247600,249600,251400,253000,255200,258000,261200,264700,268400,271400,273600,275200,276400,277000,277900,280000,282600,285400,288400,290800,292000,292800,293700,295200,297000,299000,300800,301800,302800,304400,306200,307000,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,"210,400.00","212,200.00","212,200.00","210,700.00","208,300.00","205,500.00","202,500.00","199,800.00","198,300.00","197,300.00","195,400.00","193,000.00","191,800.00","191,800.00","193,000.00","195,200.00","198,400.00","202,800.00","208,000.00","213,800.00","220,700.00","227,500.00","231,800.00","233,400.00","233,900.00","233,500.00","233,300.00","234,300.00","237,400.00","242,800.00","250,200.00","258,600.00","268,000.00","277,000.00","283,600.00","288,500.00","293,900.00","299,200.00","304,300.00","308,600.00","311,400.00","312,300.00","311,900.00","311,100.00","311,700.00","313,500.00","315,000.00","316,700.00","319,800.00","323,700.00","327,500.00","329,900.00","329,800.00","326,400.00","320,100.00","312,200.00","304,700.00","298,700.00","294,300.00","291,400.00","290,800.00","291,600.00","293,000.00","293,600.00","292,900.00","290,500.00","286,700.00","282,200.00","276,900.00","271,000.00","264,200.00","257,000.00","249,700.00","243,100.00","237,000.00","231,700.00","227,100.00","223,300.00","220,300.00","217,300.00","214,700.00","213,800.00","215,100.00","217,300.00","219,600.00","221,400.00","222,300.00","222,700.00","223,000.00","223,700.00","225,100.00","227,200.00","229,600.00","231,800.00","233,100.00","233,500.00","233,000.00","232,100.00","231,300.00","230,700.00","230,800.00","231,500.00","232,700.00","234,000.00","235,400.00","237,000.00","238,800.00","240,700.00","241,800.00","241,700.00","240,700.00","239,300.00","238,000.00","236,800.00","235,700.00","234,700.00","233,400.00","231,700.00","230,200.00","229,100.00","228,400.00","228,700.00","229,400.00","230,400.00","231,600.00","233,000.00","234,700.00","237,100.00","240,100.00","243,000.00","244,800.00","245,400.00","245,100.00","244,900.00","245,600.00","246,800.00","248,600.00","250,600.00","252,500.00","254,000.00","254,600.00","254,100.00","252,700.00","251,100.00","249,500.00","248,300.00","247,800.00","247,600.00","247,800.00","247,900.00","247,800.00","247,600.00","247,300.00","246,700.00","246,100.00","245,800.00","245,900.00","246,200.00","246,800.00","247,200.00","247,600.00","247,900.00","248,000.00","248,000.00","249,000.00","249,200.00","247,800.00","248,100.00","250,800.00","251,700.00","251,200.00","251,100.00","250,500.00","250,000.00","249,900.00","249,700.00","247,900.00","247,400.00","248,800.00","249,700.00","249,100.00","249,200.00","249,500.00","249,400.00","249,400.00","248,900.00","248,000.00","247,100.00","246,800.00","248,600.00","251,600.00","252,800.00","252,400.00","252,600.00","252,700.00","252,300.00","252,500.00","253,400.00","254,200.00","255,200.00","256,400.00","256,900.00","256,800.00","256,700.00","257,100.00","258,300.00","260,700.00","263,900.00","267,000.00","269,200.00","271,000.00","273,100.00","275,600.00","277,600.00","279,800.00","282,100.00","284,200.00","286,000.00","288,300.00",290700,293300,295900,298300,300200,301300,301700,302400,303600,306200,309100,311900,314100,316300,319000,322000,324300,326100,327300,327000,327200,328500,329800,330000,329000,327800,326700,325500,324700,324500,323700,322300,320700,320000,320000,320900,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,"498,100.00","500,900.00","503,100.00","504,600.00","505,500.00","505,700.00","505,300.00","504,200.00","503,600.00","503,400.00","502,200.00","500,000.00","497,900.00","496,300.00","495,200.00","494,700.00","494,900.00","496,200.00","498,600.00","502,000.00","507,600.00","514,900.00","522,200.00","529,500.00","537,900.00","546,900.00","556,400.00","566,100.00","575,600.00","584,800.00","593,500.00","601,600.00","610,100.00","618,600.00","625,600.00","631,100.00","636,600.00","642,100.00","647,600.00","653,300.00","659,300.00","665,800.00","672,900.00","680,500.00","689,600.00","699,700.00","709,300.00","718,300.00","727,600.00","737,100.00","746,600.00","756,200.00","765,800.00","775,100.00","784,400.00","793,500.00","803,000.00","812,500.00","821,200.00","829,200.00","837,000.00","844,400.00","851,600.00","858,600.00","865,300.00","871,800.00","878,200.00","884,700.00","891,300.00","898,000.00","904,700.00","911,200.00","917,600.00","923,800.00","929,800.00","935,700.00","941,400.00","947,100.00","952,800.00","958,900.00","965,100.00","971,000.00","976,400.00","981,400.00","985,700.00","989,400.00","992,900.00","996,800.00","1,000,800.00","1,004,600.00","1,008,000.00","1,010,600.00","1,012,600.00","1,014,500.00","1,017,000.00","1,020,500.00","1,024,900.00","1,029,800.00","1,035,100.00","1,040,500.00","1,046,000.00","1,052,100.00","1,058,600.00","1,065,000.00","1,071,900.00","1,079,000.00","1,086,000.00","1,093,100.00","1,100,500.00","1,107,400.00","1,113,500.00","1,118,800.00","1,123,700.00","1,129,200.00","1,135,400.00","1,141,900.00","1,148,000.00","1,152,800.00","1,155,900.00","1,157,900.00","1,159,500.00","1,161,000.00","1,162,800.00","1,165,300.00","1,168,100.00","1,171,300.00","1,174,400.00","1,176,700.00","1,178,400.00","1,179,900.00","1,181,100.00","1,182,800.00","1,184,800.00","1,185,300.00","1,183,700.00","1,181,000.00","1,177,900.00","1,175,400.00","1,173,800.00","1,171,700.00","1,167,900.00","1,163,000.00","1,157,000.00","1,150,800.00","1,144,100.00","1,135,600.00","1,125,400.00","1,113,900.00","1,102,000.00","1,091,900.00","1,085,100.00","1,079,200.00","1,072,400.00","1,065,400.00","1,057,800.00","1,048,900.00","1,037,900.00","1,024,300.00","1,010,200.00","999,000.00","990,900.00","985,400.00","983,200.00","982,400.00","982,400.00","984,100.00","987,100.00","985,000.00","977,400.00","973,300.00","973,700.00","971,700.00","965,300.00","955,400.00","943,600.00","933,700.00","925,200.00","923,000.00","925,000.00","923,300.00","916,600.00","912,400.00","910,400.00","911,900.00","918,300.00","923,500.00","923,600.00","922,900.00","928,300.00","928,900.00","923,900.00","925,300.00","938,100.00","951,900.00","965,400.00","975,900.00","984,500.00","994,100.00","1,001,400.00","1,003,100.00","1,002,700.00","1,006,300.00","1,013,700.00","1,024,800.00","1,038,300.00","1,053,900.00","1,070,600.00","1,089,900.00","1,108,100.00","1,123,700.00","1,135,100.00","1,141,000.00","1,143,900.00","1,145,800.00","1,147,500.00","1,149,900.00","1,155,200.00","1,160,100.00","1,163,300.00",1167700,1173900,1175100,1173500,1175500,1178500,1176400,1174600,1178500,1185700,1192900,1198800,1200400,1198900,1200200,1207400,1218600,1226600,1230700,1235400,1241300,1245700,1247000,1246700,1245700,1246000,1247700,1252900,1260900,1267900,1272600,1276600,1280300,1282500,1286000,1289000,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,"77,300.00","77,300.00","77,300.00","77,300.00","77,400.00","77,500.00","77,600.00","77,700.00","77,700.00","77,800.00","77,900.00","77,900.00","77,800.00","77,800.00","77,800.00","77,800.00","77,800.00","77,900.00","78,100.00","78,200.00","78,400.00","78,600.00","78,800.00","79,000.00","79,100.00","79,200.00","79,300.00","79,300.00","79,300.00","79,400.00","79,500.00","79,500.00","79,600.00","79,700.00","79,900.00","80,100.00","80,300.00","80,600.00","80,900.00","81,200.00","81,400.00","81,700.00","82,100.00","82,400.00","82,600.00","82,800.00","82,900.00","83,000.00","83,000.00","82,900.00","82,800.00","82,700.00","82,400.00","82,100.00","81,900.00","81,600.00","81,300.00","81,000.00","80,800.00","80,600.00","80,300.00","80,000.00","79,800.00","79,500.00","79,200.00","78,900.00","78,600.00","78,400.00","78,200.00","78,200.00","78,200.00","78,300.00","78,400.00","78,600.00","78,900.00","79,200.00","79,500.00","79,900.00","80,300.00","80,700.00","81,000.00","81,200.00","81,400.00","81,500.00","81,500.00","81,600.00","81,700.00","81,900.00","82,000.00","82,200.00","82,500.00","82,900.00","83,400.00","84,000.00","84,700.00","85,500.00","86,400.00","87,200.00","88,000.00","88,900.00","89,700.00","90,400.00","91,100.00","91,900.00","92,700.00","93,600.00","94,400.00","95,200.00","95,800.00","96,300.00","96,700.00","97,200.00","97,700.00","98,400.00","99,000.00","99,600.00","100,200.00","101,000.00","102,000.00","103,000.00","104,300.00","105,800.00","107,400.00","109,100.00","111,000.00","113,000.00","115,000.00","117,000.00","118,800.00","120,600.00","122,200.00","124,000.00","126,000.00","128,000.00","129,600.00","130,700.00","131,400.00","132,000.00","132,300.00","132,300.00","132,000.00","131,200.00","130,300.00","129,300.00","128,300.00","127,300.00","126,300.00","125,400.00","124,600.00","123,900.00","123,300.00","122,600.00","122,100.00","121,600.00","121,200.00","120,700.00","120,300.00","119,700.00","119,100.00","118,700.00","118,400.00","118,200.00","117,900.00","117,600.00","117,400.00","117,400.00","117,500.00","117,100.00","116,100.00","115,700.00","116,100.00","116,500.00","116,700.00","117,400.00","118,200.00","118,700.00","118,800.00","119,000.00","118,800.00","118,300.00","118,100.00","117,600.00","116,800.00","116,500.00","116,100.00","114,800.00","113,500.00","112,800.00","112,700.00","112,400.00","112,200.00","112,400.00","112,800.00","113,200.00","113,400.00","113,100.00","112,800.00","112,900.00","112,900.00","112,800.00","112,700.00","113,000.00","113,300.00","113,600.00","113,500.00","113,300.00","113,000.00","113,000.00","112,900.00","112,800.00","112,500.00","112,400.00","112,000.00","111,500.00","111,400.00","112,000.00","112,500.00","112,700.00","113,100.00",113900,114400,114500,114400,114300,114400,114700,115000,115000,115200,115600,115900,115600,115400,115400,115500,115800,116300,116200,115600,115000,114500,114200,114000,114000,113900,114100,114900,115700,116300,116900,117300,117600,118000,118600,118900,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [30]:
## Determining number of unique dates in original data

num_dates = len(data.drop(columns = ['RegionName', 'RegionID', 'SizeRank',
                                     'City', 'State', 'Metro',
                                     'CountyName']).copy().columns)
num_dates

265

# Step 4: Reshape from Wide to Long Format

In [31]:
def melt_data(df):
    """
    Takes the zillow_data dataset in wide form or a subset of the zillow_dataset.  
    Returns a long-form datetime dataframe 
    with the datetime column names as the index and the values as the 'values' column.
    
    If more than one row is passes in the wide-form dataset, the values column
    will be the mean of the values from the datetime columns in all of the rows.
    """
    
    melted = pd.melt(df, id_vars=['RegionName', 'RegionID', 'SizeRank', 'City', 'State', 'Metro', 'CountyName'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted#.groupby('time').aggregate({'value':'mean'})

In [32]:
## Turning date columns into single col w/ dates as values

df_melted = melt_data(data)
df_melted

,RegionName,RegionID,SizeRank,City,State,Metro,CountyName,time,value
0,60657,84654,1,Chicago,IL,Chicago,Cook,1996-04-01,"334,200.00"
1,75070,90668,2,McKinney,TX,Dallas-Fort Worth,Collin,1996-04-01,"235,700.00"
2,77494,91982,3,Katy,TX,Houston,Harris,1996-04-01,"210,400.00"
3,60614,84616,4,Chicago,IL,Chicago,Cook,1996-04-01,"498,100.00"
4,79936,93144,5,El Paso,TX,El Paso,El Paso,1996-04-01,"77,300.00"
...,...,...,...,...,...,...,...,...,...
3901590,1338,58333,14719,Ashfield,MA,Greenfield Town,Franklin,2018-04-01,"209,300.00"
3901591,3293,59107,14720,Woodstock,NH,Claremont,Grafton,2018-04-01,"225,800.00"
3901592,40404,75672,14721,Berea,KY,Richmond,Madison,2018-04-01,"133,400.00"
3901593,81225,93733,14722,Mount Crested Butte,CO,NaN,Gunnison,2018-04-01,"664,400.00"
3901594,89155,95851,14723,Mesquite,NV,Las Vegas,Clark,2018-04-01,"357,200.00"

In [33]:
## Confirming correct number of dates - none missing

num_dates == df_melted.loc[:,'time'].nunique()

True

In [34]:
## Setting index to the new "time" column for processing

df_melted.set_index('time', inplace=True)
df_melted

,RegionName,RegionID,SizeRank,City,State,Metro,CountyName,value
time,,,,,,,,
1996-04-01,60657,84654,1,Chicago,IL,Chicago,Cook,"334,200.00"
1996-04-01,75070,90668,2,McKinney,TX,Dallas-Fort Worth,Collin,"235,700.00"
1996-04-01,77494,91982,3,Katy,TX,Houston,Harris,"210,400.00"
1996-04-01,60614,84616,4,Chicago,IL,Chicago,Cook,"498,100.00"
1996-04-01,79936,93144,5,El Paso,TX,El Paso,El Paso,"77,300.00"
...,...,...,...,...,...,...,...,...
2018-04-01,1338,58333,14719,Ashfield,MA,Greenfield Town,Franklin,"209,300.00"
2018-04-01,3293,59107,14720,Woodstock,NH,Claremont,Grafton,"225,800.00"
2018-04-01,40404,75672,14721,Berea,KY,Richmond,Madison,"133,400.00"
2018-04-01,81225,93733,14722,Mount Crested Butte,CO,NaN,Gunnison,"664,400.00"
2018-04-01,89155,95851,14723,Mesquite,NV,Las Vegas,Clark,"357,200.00"

In [38]:
## Confirming index is correct - 265 unique yr/mo combos

num_dates == df_melted.index.nunique()

True

# Step 3: EDA and Visualization

In [41]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

mpl.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

In [61]:
## Checking top 15 states by number of sales
top_15 = df_melted['State'].value_counts()[:15]
top_15

CA    318744
NY    265015
TX    255096
PA    215451
FL    205265
OH    146313
IL    140587
NJ    133030
MI    124765
MA    110112
NC    110024
IN    107300
TN    106349
VA    103160
MN     94384
Name: State, dtype: int64

In [71]:
## Counting number of zip codes in Virginia - first state over 100k entries
df_melted[df_melted['State'] == 'VA']['RegionID'].nunique()

401

In [75]:
df_melted[df_melted['State'] == 'VA']

,RegionName,RegionID,SizeRank,City,State,Metro,CountyName,value
time,,,,,,,,
1996-04-01,23464,67732,63,Virginia Beach,VA,Virginia Beach,Virginia Beach City,"104,400.00"
1996-04-01,23462,67730,90,Virginia Beach,VA,Virginia Beach,Virginia Beach City,"83,400.00"
1996-04-01,22191,67180,194,Woodbridge,VA,Washington,Prince William,"122,600.00"
1996-04-01,23320,67655,203,Chesapeake,VA,Virginia Beach,Chesapeake City,"114,000.00"
1996-04-01,23454,67722,236,Virginia Beach,VA,Virginia Beach,Virginia Beach City,"117,100.00"
...,...,...,...,...,...,...,...,...
2018-04-01,23433,67707,14502,Suffolk,VA,Virginia Beach,Suffolk City,"325,700.00"
2018-04-01,24325,68098,14539,Dugspur,VA,NaN,Carroll,"81,100.00"
2018-04-01,24530,68192,14576,Callands,VA,Danville,Pittsylvania,"56,100.00"
2018-04-01,23039,67495,14594,Crozier,VA,Richmond,Goochland,"281,700.00"
2018-04-01,24059,67952,14596,Bent Mountain,VA,Roanoke,Roanoke,"178,900.00"

In [91]:
df_melted[df_melted['State'] == "VA"]

,RegionName,RegionID,SizeRank,City,State,Metro,CountyName,value
time,,,,,,,,
1996-04-01,23464,67732,63,Virginia Beach,VA,Virginia Beach,Virginia Beach City,"104,400.00"
1996-04-01,23462,67730,90,Virginia Beach,VA,Virginia Beach,Virginia Beach City,"83,400.00"
1996-04-01,22191,67180,194,Woodbridge,VA,Washington,Prince William,"122,600.00"
1996-04-01,23320,67655,203,Chesapeake,VA,Virginia Beach,Chesapeake City,"114,000.00"
1996-04-01,23454,67722,236,Virginia Beach,VA,Virginia Beach,Virginia Beach City,"117,100.00"
...,...,...,...,...,...,...,...,...
2018-04-01,23433,67707,14502,Suffolk,VA,Virginia Beach,Suffolk City,"325,700.00"
2018-04-01,24325,68098,14539,Dugspur,VA,NaN,Carroll,"81,100.00"
2018-04-01,24530,68192,14576,Callands,VA,Danville,Pittsylvania,"56,100.00"
2018-04-01,23039,67495,14594,Crozier,VA,Richmond,Goochland,"281,700.00"
2018-04-01,24059,67952,14596,Bent Mountain,VA,Roanoke,Roanoke,"178,900.00"

for each RegionName, I need the

# Step 5: ARIMA Modeling

# Step 6: Interpreting Results

# UNUSED -  Step 2: Data Preprocessing

In [ ]:
# def get_datetimes(df):
#     """
#     Takes a dataframe:
#     returns only those column names that can be converted into datetime objects 
#     as datetime objects.
#     NOTE number of returned columns may not match total number of columns in passed dataframe
#     """
    
#     return pd.to_datetime(df.columns.values, format='%Y-%m')

In [ ]:
# date_cols = data.drop(columns=['RegionID', 'RegionName', 'City', 'State','Metro','CountyName', 'SizeRank'])
# date_cols

In [ ]:
# non_date_cols = ['RegionID', 'RegionName', 'City', 'State','Metro','CountyName', 'SizeRank']
# non_date_cols

In [ ]:
# dt_idx = get_datetimes(data.drop(columns=non_date_cols).copy())
# dt_idx

In [ ]:
# data.drop(columns=non_date_cols).copy().columns = dt_idx

In [ ]:
## Attempting to replace the names of each column w/ updated dates

# cond = data.drop(columns=['RegionID', 'RegionName', 'City', 'State', 'Metro',
#                           'CountyName', 'SizeRank']).copy().columns.values

# choice = dt_idx

# for col in date_col:
#     for date in dt_idx:
#         data.rename(columns = {col:date})
        
# data